h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4.5cm;
    padding-top: 20px;
    padding-bottom: 20px;
    color: aliceblue;
    display: inline-block;
    cursor: default;
    font-size: 20px;
}