*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-body{
    background: #D0B59A;
    min-height: 100vh;
    width: 100vw;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky{
    padding: 5px 100px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
header .logo{
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    transform: translate(-20%, -25%);
}
.logo_icon{
    position: relative;
    height: 10vh;
    transform: translate(0%, +40%);
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
    font-weight: 500px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a {
    color: #000;
}