.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100vh;
    background: #D0B59A;
    padding: 1em;
}

.wrapper img {
    max-width: 80%;
    max-height: 300px;
}

.wrapper h1, .wrapper p, .wrapper a {
    margin: .5em 0;
}

.wrapper a {
    padding: 1.25em;
    border: 1px solid #000;
    border-radius: 2em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.wrapper a:hover {
    color: #fff;
    background: #000;
}